body {
    font-family: 'Poppins';
}

body {
    background: #dbdbdb;
    background-image: url('/src/imagens/Fundo.jpg');
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.cabecalho .logo {
    width: 80px;
    

}

.cabecalho .menu {
    display: flex;
    align-items: center;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
    padding: 2px 25px;
    border-radius: 10px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: #ffffff;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;

}

.arrow-right {
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);

}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}



.item {
    width: 370px;
    flex-shrink: 0;
    opacity: 0.8;
    border: 5px solid #fff;
    transform: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
    border: 5px solid #928c8c;
    box-shadow: 0 0 20px #928c8c;
}

.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}


.descricao {
    align-items: center;
    width: 100%;
    height: 180px;
    color: #0f0f0f;
    padding: 10px 40px;
    text-align: center;
}

.texto {
    width: 100%;
    height: 100px;
}

.paragrafo{
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #d8d8d8;
}
.paragrafo:hover {
    background-color: #ffffff;
    font-size: 18px;
    padding: 2px 25px;
    border-radius: 0px;
    transition: 0.2s;
}



